*{
  margin: 0;
  padding: 0;

}
.react-player{
  
  margin: 20px;
  box-shadow: 2px 2px 10px rgb(43, 44, 44);
}
.player-wrapper{
  display: flex;
  flex-wrap: wrap;
}
h1{

  background-color: lightgreen;
  text-align: center;
}
button
{
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
input{
  margin-bottom: 20px;
  font-size: larger;
  margin-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.nav{
  display: flex;
  flex-wrap: wrap;
}
span{
  width:10px;
  height: 10px;
}
.cart{

  margin-left: 350px;
  margin-top: 10px;
}
.text{
  color: green;
  font-size: large;
  margin-left: 15px;
  margin-top: 25px;
  
}
.react-player:hover{
  transition: 0.3s all ease-out;
  transform: scale(1.1);
}
button:hover
{
  cursor: pointer;
}
.cart:hover{
cursor: pointer;
}
